{% extends "layout.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block title %} {{ _('BMI') }} {% endblock %}

{% block mynav %}

    <li><a href="{{ url_for_security('logout') }}">Logout</a></li>

{% endblock mynav %}

{% block mycontent %}
    <p class="text-right">[<strong>{{current_user.email}}</strong>]</p>
    <h1>{{ _('BMI Calculator') }}</h1>

    <div id="BmiReactForm" />

{% endblock mycontent %}

{% block scripts %}
    <script src="{{url_for('static', filename='dist/bundle.js')}}" type="text/javascript"></script>
{% endblock scripts%}
